@using WS_CMVC_Demo.Models.UserPackagesViewModels
@model List<EventsWithRequestsViewModel>

@{
    ViewData["Title"] = "Выбор мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .item-link {
        color: black;
    }

        .item-link > .card > .card-header {
            color: black;
        }

        .item-link:hover,
        .item-link:hover > .card > .card-header {
            color: black;
        }

            .item-link:hover > .card > .card-header {
                background-color: #169db2;
            }

            .item-link:hover > .card > .card-body {
                background-color: #17a2b8;
            }
</style>

<h1>@ViewData["Title"]</h1>

@for (int i = 0; i < Math.Ceiling(Model.Count() / 2.0); i++)
{
    <div class="row px-2">
        @for (int j = 0; j < 2 && i * 2 + j < Model.Count(); j++)
        {
            var item = Model[i * 2 + j];
            <div class="col-md-6 p-2">
                <a asp-action="@(item.HasUserSubCategory ? item.HasRequest ? "Details" : "List" : "SetSubcategory")" asp-route-id="@item.PackageId" asp-route-eventid="@item.EventId" asp-route-userid="@ViewData["userid"]" class="text-decoration-none item-link">
                    <div class="card border-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-auto">
                                    <h4>@item.EventName</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <dl class="row card-text">
                                <dt class="col-md-5">Сроки Чемпионата</dt>
                                <dd class="col-md-7">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)</dd>
                                        
                                @if(item.HasRequest)
                                {
                                    <div class="col-md-5"><h5><b>Забронирован пакет</b></h5></div><div class="col-md-7"></div>
                                    <dt class="col-md-5">@Html.DisplayNameFor(modelItem => item.PackageName)</dt>
                                    <dd class="col-md-7">@Html.DisplayFor(modelItem => item.PackageName)</dd>

                                    <dt class="col-md-5">@Html.DisplayNameFor(modelItem => item.Status)</dt>
                                    <dd class="col-md-7">@Html.DisplayFor(modelItem => item.Status)</dd>
                                }
                                else
                                {
                                    <div class="col-md-5"><h5><b>Выбрать пакет</b></h5></div>
                                }

                            </dl>
                        </div>
                   </div>
                </a>
            </div>
        }
    </div>
}
