@model WS_CMVC_Demo.Models.Badge.BadgeService

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены? Данное действие невозможно отменить.</h3>
<div>
    <h4>BadgeService</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IcoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IcoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PeriodTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
