@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}

<h2>@ViewBag.Title</h2>
<h4>Забыли пароль?</h4>
<hr />
<div style="max-width:350px;">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control mw-100" })
        </div>
        <input type="submit" class="btn btn-outline-dark btn-block mw-100" value="Отправить код для восстановления пароля" />
    }
</div>
